:root {
  --white: #ffffff;
  --softY: #f4dfba;
  --orange: #fabb52;
  --hover: #ca965c;
  --brown: #876445;
}
.fa-cloud-moon {
  margin-right: 5px;
  color: var(--orange);
}
.navbar {
  top: 0;
  background: var(--softY);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: sticky;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  margin-left: -100px;
  margin-right: 150px;
  top: 0;
  justify-self: start;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-logo,
.nav-page,
.fa-bars {
  color: var(--brown);
}
.navbar-logo:hover,
.nav-page:hover {
  color: var(--hover);
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 60vw;
  justify-content: end;
  list-style: none;
  text-align: center;
  grid-gap: 10px;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}
.nav-page {
  align-items: center;
  display: flex;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background:var(--brown);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-page {
    text-align: center;
    width: 100%;
    display: table;
    color: white; 
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    margin-left: 0px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 18px;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 18px
  }

}
