body{
    background: url("urgent_hospital_background.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}
p{
    color:yellow;
}
#urgent_div{
    position: fixed;
    bottom: 10px;
    left: 38%;
    display: block;
}
#urgent_button{
    background-color: red;
    font-size: 30px;
    border-width: 2px;
    border-radius: 50%;
    border-color: black;
    transition-duration: 0.4s;
}
#urgent_button:hover{
    background-color: yellow;
    display: block;
    cursor:pointer;
}
button .button_bell{
    width: 200px;
    height: 200px;
}