    
    video{
        object-fit: cover;
        z-index: -1;
        margin:0;
        width: 100%;
        height: 100%;
        position:fixed;
    }
    .container{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        margin:0;
        padding:0;
        position:fixed;
        object-fit: contain;
    }
    .container >h1{
        margin-top: -100px;
        margin-left: 100px;
    }
    .container p{
        display: inline;
        margin-top:20px;
        margin-left: 100px;
    }
    .container h1,p{
        color: var(--softY);
    }
    .holder{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 100px;

    }
    .storeButton{
        margin-top: 10px;
        display: flex;
        row-gap: 10px;
    }
    @media screen and (max-width: 960px) {
        h1{
            font-size: 30px;
        }
        p{
            font-size: 12px;
        }
    }
