:root{
    --white: #ffffff;
    --softY: #f4dfba;
    --orange: #fabb52;
    --hover: #ca965c;
    --brown: #876445;
}
.btn{
    border-radius: 7px;
    outline: none;
    cursor:pointer;
}
.primary{
    background-color: var(--brown);
    color: var(--white);
}
.medium{
    text-align: center;
    width: 150px;
    font-size: 15px;
    padding: 8px 20px;
}
.primary :hover{
    transition: all 0.3s ease-out;
    background:var(--hover);

}
